<link href="~/sitetemplate/innerpages/plugins/innernavigation/style.css" rel="stylesheet" />
<div class="headerNavigation">
    <ul class="drop_menu">
        <li><button class="tablinks" onclick="userAccountNavigation(event, 'TabUserAccount')" id="TabUserAccountDefaultOpen">Account</button></li>
        <li><button class="tablinks" onclick="userAccountNavigation(event, 'TabUserContact')">Contact</button></li>
        <li><button class="tablinks" onclick="userAccountNavigation(event, 'TabUserBIO')">About Me</button></li>
        <li><button class="tablinks" onclick="userAccountNavigation(event, 'TabUserPhoto')">Photo</button></li>
        <li><button class="tablinks" onclick="userAccountNavigation(event, 'TabUserPrivacy')">Privacy</button></li>
        <li><button class="tablinks" onclick="userAccountNavigation(event, 'TabUserOther')">Other</button></li>
        @*<li>
        <a href='#'>Drop</a>
        <ul>
        <li><a href='#'>Sub Link 1</a></li>
        <li><a href='#'>Sub Link 2</a></li>
        <li><a href='#'>Sub Link 3</a></li>
        <li><a href='#'>Sub Link 4</a></li>
        </ul>
        </li>*@
    </ul>
</div>
<br />