<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/sitetemplate/profilepages/assets/css/style.css" rel="stylesheet" />
    <link href="~/sitetemplate/innerpages/pagecssjs/profile/profile.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">GALAXY PREMIERE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">My Works</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Submissions</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search Festivals" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
             <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
        </div>
    </nav>

    <div class="container-fluid">

        @*HEADER*@

@*        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>MY FULL NAME</h4>
                    <p class="mb-0">Your business dashboard template</p>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">SUBMISSIONS</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">MY WORKS</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">BROWSE FESTIVALS</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">ACCOUNT</a></li>
                </ol>
            </div>
        </div>*@
        <!-- row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="profile">
                    <div class="profile-head">
                        <div class="container db-social">
                            <div class="jumbotron jumbotron-fluid"></div>
                            <div class="container-fluid">
                                <div class="row justify-content-center">
                                    <div class="col-xl-11">
                                        <div class="widget head-profile has-shadow">
                                            <div class="widget-body pb-0">
                                                <div class="row d-flex align-items-center">
                                                    <div class="col-xl-4 col-md-4 d-flex justify-content-lg-start justify-content-md-start justify-content-center">
                                                        <ul>
                                                            <li>
                                                                <div class="counter">246</div>
                                                                <div class="heading">Friends</div>
                                                            </li>
                                                            <li>
                                                                <div class="counter">30</div>
                                                                <div class="heading">Online</div>
                                                            </li>
                                                            <li>
                                                                <div class="counter">216</div>
                                                                <div class="heading">Offline</div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-xl-4 col-md-4 d-flex justify-content-center">
                                                        <div class="image-default">
                                                            <img class="rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="...">
                                                        </div>
                                                        <div class="infos">
                                                            <h2>David Green</h2>
                                                            <div class="location">Las Vegas, Nevada, U.S.</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-4 col-md-4 d-flex justify-content-lg-end justify-content-md-end justify-content-center">
                                                        <div class="follow">
                                                            <a class="btn btn-shadow" href="#"><i class="la la-user-plus"></i>Add Friend</a>
                                                            <div class="actions dark">
                                                                <div class="dropdown">
                                                                    <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                                                                        <i class="la la-ellipsis-h"></i>
                                                                    </button>
                                                                    <div class="dropdown-menu" x-placement="bottom-start" style="display: none; position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 35px, 0px);">
                                                                        <a href="#" class="dropdown-item">
                                                                            Report
                                                                        </a>
                                                                        <a href="#" class="dropdown-item">
                                                                            Block
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="profile-statistics">
                            <div class="text-center mt-4 border-bottom-1 pb-3">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="m-b-0">150</h3><span>Follower</span>
                                    </div>
                                    <div class="col">
                                        <h3 class="m-b-0">140</h3><span>Place Stay</span>
                                    </div>
                                    <div class="col">
                                        <h3 class="m-b-0">45</h3><span>Reviews</span>
                                    </div>
                                </div>
                                <div class="mt-4">
                                    <a href="javascript:void()" class="btn btn-primary pl-5 pr-5 mr-3 mb-4">Follow</a> <a href="javascript:void()" class="btn btn-dark pl-5 pr-5 mb-4">
                                        Send
                                        Message
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="profile-blog pt-3 border-bottom-1 pb-1">
                            <h5 class="text-primary d-inline">Today Highlights</h5><a href="javascript:void()" class="pull-right f-s-16">More</a>
                            <img src="~/sitetemplate/profilepages/assets/images/profile/1.jpg" alt="" class="img-fluid mt-4 mb-4 w-100">
                            <h4>Darwin Creative Agency Theme</h4>
                            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                        </div>
                        <div class="profile-interest mt-4 pb-2 border-bottom-1">
                            <h5 class="text-primary d-inline">Interest</h5>
                            <div class="row mt-4">
                                <div class="col-lg-4 col-xl-4 col-sm-4 col-6 int-col">
                                    <a href="javascript:void()" class="interest-cat">
                                        <img src="~/sitetemplate/profilepages/assets/images/profile/2.jpg" alt="" class="img-fluid">
                                        <p>Shopping Mall</p>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-xl-4 col-sm-4 col-6 int-col">
                                    <a href="javascript:void()" class="interest-cat">
                                        <img src="~/sitetemplate/profilepages/assets/images/profile/3.jpg" alt="" class="img-fluid">
                                        <p>Photography</p>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-xl-4 col-sm-4 col-6 int-col">
                                    <a href="javascript:void()" class="interest-cat">
                                        <img src="~/sitetemplate/profilepages/assets/images/profile/4.jpg" alt="" class="img-fluid">
                                        <p>Art &amp; Gallery</p>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-xl-4 col-sm-4 col-6 int-col">
                                    <a href="javascript:void()" class="interest-cat">
                                        <img src="~/sitetemplate/profilepages/assets/images/profile/2.jpg" alt="" class="img-fluid">
                                        <p>Visiting Place</p>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-xl-4 col-sm-4 col-6 int-col">
                                    <a href="javascript:void()" class="interest-cat">
                                        <img src="~/sitetemplate/profilepages/assets/images/profile/3.jpg" alt="" class="img-fluid">
                                        <p>Shopping</p>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-xl-4 col-sm-4 col-6 int-col">
                                    <a href="javascript:void()" class="interest-cat">
                                        <img src="~/sitetemplate/profilepages/assets/images/profile/4.jpg" alt="" class="img-fluid">
                                        <p>Biking</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="profile-news mt-4 pb-3">
                            <h5 class="text-primary d-inline">Our Latest News</h5>
                            <div class="media pt-3 pb-3">
                                <img src="~/sitetemplate/profilepages/assets/images/profile/5.jpg" alt="image" class="mr-3">
                                <div class="media-body">
                                    <h5 class="m-b-5">John Tomas</h5>
                                    <p>I shared this on my fb wall a few months back, and I thought I'd share it here again because it's such a great read</p>
                                </div>
                            </div>
                            <div class="media pt-3 pb-3">
                                <img src="~/sitetemplate/profilepages/assets/images/profile/6.jpg" alt="image" class="mr-3">
                                <div class="media-body">
                                    <h5 class="m-b-5">John Tomas</h5>
                                    <p>I shared this on my fb wall a few months back, and I thought I'd share it here again because it's such a great read</p>
                                </div>
                            </div>
                            <div class="media pt-3 pb-3">
                                <img src="~/sitetemplate/profilepages/assets/images/profile/7.jpg" alt="image" class="mr-3">
                                <div class="media-body">
                                    <h5 class="m-b-5">John Tomas</h5>
                                    <p>I shared this on my fb wall a few months back, and I thought I'd share it here again because it's such a great read</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @RenderBody()
        </div>
    </div>

    <!-- Required vendors -->
    <script src="~/sitetemplate/profilepages/assets/js/global.min.js"></script>
    <script src="~/sitetemplate/profilepages/assets/js/quixnav-init.js"></script>
    <script src="~/sitetemplate/profilepages/assets/js/custom.min.js"></script>

</body>
</html>
