<link href="~/sitetemplate/innerpages/plugins/tabNavigation/tab.css" rel="stylesheet" />
<div class="headerNavigation">
    <ul class="drop_menu">
        <li><button class="tablinks active" onclick="tabNavigation(event, 'TabUserEducation')">Eduction</button></li>
        <li><button class="tablinks" onclick="tabNavigation(event, 'TabUserFavoriteMovie')">Favorite Movies</button></li>
        <li><button class="tablinks" onclick="tabNavigation(event, 'TabUserCompany')">Company</button></li>
        <li><button class="tablinks" onclick="tabNavigation(event, 'TabUserNews')">News</button></li>
        <li><button class="tablinks" onclick="tabNavigation(event, 'TabUserPhotos')">Photos</button></li>
        <li><button class="tablinks" onclick="tabNavigation(event, 'TabUserAttachments')">Attachments</button></li>
        <li><button class="tablinks" onclick="tabNavigation(event, 'TabUserLinks')">Links</button></li>
    </ul>
</div>
<br />
<br />