.modal-content h2 {
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: lighter;
    text-transform: uppercase;
    color: #414141;
    font-size: 26px;
}
.modal-content .close {
border:0;
opacity:.2;
color:black;
font-size:25px;
background-color:transparent;
}
.modal-content{
    padding:10px;
}
    .modal-content input {
        display: block;
        margin: 0 auto;
    }

.modal-content #btnRegister {
    cursor: pointer;
    display: inline-block;
    float: right;
    text-align: center;
    height: 60px;
    margin-top: -10px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #fff;
    width: 100%;
}

    .modal-content #btnRegister:nth-of-type(1) {
        background: #3691D7;
        width: 50%;
    }

    .modal-content #btnRegister:nth-of-type(2) {
        background: #ff5722;
        width: 50%;
    }

.modal-content span :hover {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
}

.modal-content .reg {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateY(-100%) scale(1);
    transform: translateY(-100%) scale(1);
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: #3691D7;
    z-index: 5;
    -webkit-transition: .8s ease-in-out;
    transition: .8s ease-in-out;
}

.modal-content h3 {
    position: absolute;
    top: -100%;
    left: 20%;
    text-transform: uppercase;
    font-weight: bolder;
    color: rgba(255,255,255,.3);
    -webkit-transition: .3s ease-in-out 1.2s;
    transition: .3s ease-in-out 1.2s;
}
/*SeprationLineAlongWithOr*/
.orSeparation {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}

    .orSeparation .line {
        display: inline-block;
        left: 0px;
        position: absolute;
        width: 100%;
        border-bottom: 1px solid rgb(216, 216, 216);
    }

    .orSeparation .or {
        background-color: rgb(255, 255, 255);
        color: lightgray;
        display: block;
        z-index: 1;
        padding: 10px 5px;
    }
