@* DevelopeR: Alimohammad Eghbaldar http://eghbaldar.ir *@
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using galaxypremiere.Application.Services.Users.Commands.PostUser
@model RequestPostUserServiceDto
@{
    ViewData["Title"] = "Galaxy Premiere - Add New User";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Input Group</h4>
    </div>
    <div class="card-body">
        <div class="basic-form">
            <form asp-action="Create" id="frmAddUser" method="post">
                <span asp-validation-for="Fullname" class="text-danger"></span>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Fullname</span>
                    </div>
                    <input asp-for="Fullname"
                           type="text"
                           class="form-control"
                           id="txtFullname"
                           placeholder="example: John K Fox">
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Email Address</span>
                    </div>
                    <input asp-for="Email"
                           type="text"
                           id="txtEmail"
                           class="form-control"
                           placeholder="emaxple: youremail@gmail.com">
                </div>

                <span asp-validation-for="Password" class="text-danger"></span>
                <div class="input-group transparent-append">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input asp-for="Password"
                           type="password"
                           onkeyup="checkPassMatchRePass('#txtPassword','#txtRePassword','#spanInvalidRePassword')"
                           id="txtPassword"
                           class="form-control">
                    <div class="input-group-append show-pass" style="cursor:pointer;">
                        <span class="input-group-text">
                            <div id="meter"></div>
                        </span>
                        <span class="input-group-text" onclick="generatePass('#txtPassword','#txtRePassword')">
                            <i class="fa fa-bolt"></i>
                        </span>
                        <span class="input-group-text">
                            <i id="spanPassVisibilty" onclick="showPassword('txtPassword','#spanPassVisibilty')" class="fa fa-eye-slash"></i>
                        </span>
                    </div>
                    <div id="val-password1-error" class="invalid-feedback animated fadeInUp" style="display: block;"></div>
                </div>

                <div id="spanInvalidRePassword" class="text-danger"></div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Re-Password:</span>
                    </div>
                    <input type="password"
                           id="txtRePassword"
                           onkeyup="checkPassMatchRePass('#txtPassword','#txtRePassword','#spanInvalidRePassword')"
                           class="form-control">
                </div>

                <label>User Role:</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Roles</label>
                    </div>
                    <select class="custom-select" id="listRoles" asp-items="@ViewBag.Roles" item
                            data-error-text="Please select an option" required
                            onchange="checkRoleValidation()">
                        <option selected="">Choose...</option>
                    </select>
                </div>

                <button type="button" onclick="AddUser()" id="btnAddUser" class="btn btn-rounded btn-info">
                    <span class="btn-icon-left text-info">
                        <i class="fa fa-plus color-info"></i>
                    </span>Add
                </button>
            </form>
        </div>
    </div>
</div>

@section Styles{
    <link href="~/lib/kingfuncs/password/password.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/lib/kingfuncs/password/password.js"></script>
    <script>
        function AddUser() {

            if ($("#frmAddUser").valid()) {
                // Check password
                if (!matchPassword($("#txtPassword"), $("#txtRePassword"))) return;
                // Check role
                var IdRole = $("#listRoles").val();
                if (!(checkRoleValidation())) return;
                // Body
                btnWaitMe_Start('btnAddUser'); // Loading Button Start
                Swal.fire(
                    {
                        title: 'Register!',
                        text: 'Do you want to add this user?',
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonColor: '#15283c',
                        cancelButtonColor: '#ff5722',
                        confirmButtonText: 'Yes, Do It',
                        cancelButtonText: 'No'
                    }
                ).then((result) => {
                    if (result.value) {

                        var fullname = $("#txtFullname").val();
                        var email = $("#txtEmail").val();
                        var password = $("#txtPassword").val();
                        var rePassword = $("#txtRePassword").val();

                        var dataPost = {
                            'Fullname': fullname,
                            'Email': email,
                            'Password': password,
                            'IdRole': IdRole,
                        };

                        $.ajax({
                            contentType: 'application/x-www-form-urlencoded',
                            dataType: 'json',
                            type: 'POST',
                            data: dataPost,
                            url: 'Create',
                            success: function (data) {
                                if (data.isSuccess) {
                                    Swal.fire({
                                        title: 'Succeed!',
                                        text: data.message,
                                        icon: 'success',
                                        confirmButtonColor: 'green',
                                        confirmButtonText: 'OK',
                                    }).then((result) => {
                                        if (result) {
                                            window.location.href = "/admin/user/Index";
                                        }
                                    });
                                }
                                else {
                                    btnWaitMe_Stop('btnAddUser'); // Loading Button Stops
                                    Swal.fire({
                                        title: 'Error!',
                                        text: data.message,
                                        icon: 'error',
                                        confirmButtonColor: 'red',
                                        confirmButtonText: 'Ok',
                                    }).then((result) => {
                                        //
                                    });
                                }
                            },
                            error: function (request, status, error) {
                                btnWaitMe_Stop('btnAddUser'); // Loading Button Stops
                            }
                        });
                    }
                    else {
                        btnWaitMe_Stop('btnAddUser'); // Loading Button Stops
                    }
                });
            }
            else {
                checkSomeOtherValidation();
            }
        }
        function checkSomeOtherValidation() {
            if (!(checkRoleValidation())) return;
            matchPassword($("#txtPassword"), $("#txtRePassword"));
        }
        function checkRoleValidation() {
            var LstRoles = $("#listRoles");
            if (LstRoles.val() == "Choose...") {
                LstRoles.css("background-color", "#fcc");
                return false;
            }
            else {
                LstRoles.css("background-color", "#fff");
                return true;
            }
        }
    </script>
}