@using Endpoint.Site.Views.Shared.Components;
@using galaxypremiere.Common.Constants;

<div class="icon_info">
    <ul id="icons">
        <li><a href="#"><i class="fa fa-bell-o"></i><span class="badge">2</span></a></li>
        <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
        <li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge">3</span></a></li>
    </ul>
    <ul class="user_profile_dd">
        <li>
            <a class="dropdown-toggle" data-toggle="dropdown">
                <img class="img-responsive rounded-circle img-fluid kingImgWH100" id="TopRightUserPanelHeadshotImg"
                     src=@GeneralConstants.PrivateHeadshot alt="#" />
                <span class="name_user" id="TopRightUserPanel_Nickname">
                    @GeneralConstants.Nickname
                </span>
            </a>
            <div class="dropdown-menu" style="z-index: 9999 !important;">
                @if (GeneralConstants.Username == null || GeneralConstants.Username == "")
                {
                    <a class="dropdown-item" onclick="setUsernameAtFirst()">My Profile</a>
                }
                else
                {
                    <a class="dropdown-item" href="~/@GeneralConstants.Username">My Profile</a>
                }
                <a class="dropdown-item" href="settings.html">Settings</a>
                <a class="dropdown-item" href="help.html">Help</a>
                <a class="dropdown-item" href="~/home/Logout">
                    <span>Log Out</span> <i class="fa fa-sign-out"></i>
                </a>
            </div>
        </li>
    </ul>
</div>
<script>
    function setUsernameAtFirst() {
        window.location.href = "/user/me?tour=username";
    }
</script>