<link href="~/sitetemplate/innerpages/plugins/tabNavigation/tab.css" rel="stylesheet" />
<div class="headerNavigation">
    <ul class="drop_menu">
        <li><button class="tablinks active" onclick="tabNavigation(event, 'TabUserAlbums')">Albums</button></li>
        <li><button class="tablinks cursor-auto">Photos</button></li>
        @*onclick="tabNavigation(event, 'TabUserPhotos')"*@
        @*I have disabled this clickable feature because I did not want clients to see the empty album at first.*@
    </ul>
</div>
<br />
<br />