.btn-skype {
    background: #00aff0;
    border-color: #00aff0;
    color: #fff;
}

fieldset {
    border: 1px dashed #E0E0E0 !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
    margin-top: 15px !important;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

legend {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
    margin-top: -15px;
    background-color: white;
    color: #808080;
}

.add_new_frm_field_btn, .add_new_frm_field_favorite_movie_btn, .add_new_frm_field_companies_btn, .add_new_frm_field_news_btn, .add_new_frm_field_links_btn, .add_new_frm_field_attachments_btn {
    padding: 15px !important;
    border: 2px dotted gray;
    background-color: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.add_icon {
    color: black;
}

.btn_round {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 0px !important;
    background-color: #f2f2f2;
}

.fa-trash-alt {
    padding: 10px;
    color: #808080;
}
/*progressBar*/
.w3-center {
    text-align: center !important
}

.w3-green {
    color: #fff !important;
    background-color: #0079BF !important
}
