@* DevelopeR: Alimohammad Eghbaldar http://eghbaldar.ir *@
@{
    Layout = "~/Views/Shared/_LayoutInnerPages.cshtml";
}
@section Styles{
    @*Only for this page*@

    @*datapicker*@
    <link href="~/lib/datapicker/datepicker.min.css" rel="stylesheet" />
    <style>
        fieldset {
            border: 1px dashed #E0E0E0 !important;
            padding: 0 1.4em 1.4em 1.4em !important;
            -webkit-box-shadow: 0px 0px 0px 0px #000;
            box-shadow: 0px 0px 0px 0px #000;
            margin-top: 15px !important;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }

        legend {
            font-size: 1.2em !important;
            font-weight: bold !important;
            text-align: left !important;
            width: auto;
            padding: 0 10px;
            border-bottom: none;
            margin-top: -15px;
            background-color: white;
            color: #808080;
        }
    </style>
>
}
@await Component.InvokeAsync("UserProfileNavigation")

<div id="TabUserEducation" class="TabcontentClass active">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Eduction</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form asp-action="Create" id="frmAddUser" method="post">

                    <div class="form_field_outer">
                        <div class="row form_field_outer_row" id="educational_form_1">

                            <fieldset>
                                <legend>Educational Case [1]</legend>

                                <div class="input-group mb-3">
                                    <span class="input-group-text">Name</span>
                                    <input type="text"
                                           class="form-control"
                                           id="txtSchoolName_1"
                                           placeholder="School, Instituion, College, University Name">
                                </div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text">Field of Study</span>
                                    <input type="text"
                                           class="form-control"
                                           id="txtField_1"
                                           placeholder="Directing, Software engineering, ...">
                                </div>

                                <div style="display:flex;">
                                    <div>
                                        <label class="input-group-text" style="border-radius:5px 0px 0px 5px;"
                                               for="inputGroupSelect01">From</label>
                                    </div>
                                    <div>
                                        <input readonly
                                               placeholder="Starting date of Eduction"
                                               style="border-radius:0px;border-left:0;" width="300"
                                               id="datepickerFrom_1">
                                    </div>
                                </div>

                                <div style="display:flex;">
                                    <div>
                                        <label class="input-group-text" style="border-radius:5px 0px 0px 5px;"
                                               for="inputGroupSelect01">To</label>
                                    </div>
                                    <div>
                                        <input readonly
                                               placeholder="Ending date of Eduction"
                                               style="border-radius:0px;border-left:0;" width="300"
                                               id="datepickerTo_1">
                                    </div>
                                </div>

                                <div class="form-group col-md-2 add_del_btn_outer">
                                    <button class="btn_round remove_node_btn_frm_field" disabled>
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </div>
                            </fieldset>

                        </div>
                    </div>

                    <button type="button" class="btn btn-outline-lite py-0 add_new_frm_field_btn">
                        <i class="fas fa-plus add_icon"></i> Add New field row
                    </button>

                    <button type="button" onclick="GetProfileEducationElements()" id="btnUpdateProfileEducations" class="btn cur-p btn-primary">
                        Update
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="TabUserFavoriteMovie" class="TabcontentClass">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Favorite Movies</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form asp-action="Create" id="frmAddUser" method="post">
                    <button type="button" onclick="UpdateInfoAccount()" id="btnUpdateAccount" class="btn cur-p btn-primary">
                        Update
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="TabUserCompany" class="TabcontentClass">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Company</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form asp-action="Create" id="frmAddUser" method="post">
                    <button type="button" onclick="UpdateInfoAccount()" id="btnUpdateAccount" class="btn cur-p btn-primary">
                        Update
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="TabUserNews" class="TabcontentClass">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">News</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form asp-action="Create" id="frmAddUser" method="post">
                    <button type="button" onclick="UpdateInfoAccount()" id="btnUpdateAccount" class="btn cur-p btn-primary">
                        Update
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="TabUserPhotos" class="TabcontentClass">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Photos</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form asp-action="Create" id="frmAddUser" method="post">
                    <button type="button" onclick="UpdateInfoAccount()" id="btnUpdateAccount" class="btn cur-p btn-primary">
                        Update
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="TabUserAttachments" class="TabcontentClass">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Attachments</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form asp-action="Create" id="frmAddUser" method="post">
                    <button type="button" onclick="UpdateInfoAccount()" id="btnUpdateAccount" class="btn cur-p btn-primary">
                        Update
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="TabUserLinks" class="TabcontentClass">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Links</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form asp-action="Create" id="frmAddUser" method="post">
                    <button type="button" onclick="UpdateInfoAccount()" id="btnUpdateAccount" class="btn cur-p btn-primary">
                        Update
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @* Tabs *@
    <script src="~/sitetemplate/innerpages/plugins/tabNavigation/tab.js"></script>
    @*Datapicker*@
    <script src="~/lib/datapicker/datapicker.js"></script>
    <script>
        $('#datepickerFrom_1').datepicker({
            uiLibrary: 'bootstrap5'
        });
        $('#datepickerTo_1').datepicker({
            uiLibrary: 'bootstrap5'
        });
    </script>
    @* Functions *@

    <script>
        function GetProfileEducationElements() {

            var schoolName;
            var fieldlName;
            var dateFrom;
            var dateTo;
            var postData = [];

            var inputValues = $('.form_field_outer :input').map(function () {

                var type = $(this).prop("type");
                var value = $(this).prop("value");
                var id = $(this).prop("id");

                if (type == "text") {
                    if (id.indexOf("txtSchoolName") == 0) schoolName = value;
                    if (id.indexOf("txtField") == 0) fieldlName = value;
                    if (id.indexOf("datepickerFrom") == 0) dateFrom = value;
                    if (id.indexOf("datepickerTo") == 0) dateTo = value;
                }
                if (type == "submit") {
                    postData.push(schoolName + "|" + fieldlName + "|" + dateFrom + "|" + dateTo + "|")
                }
            });
            UpdateProfileEducation(postData);
        }
        function UpdateProfileEducation(data) {
            pageWaitMe("progress"); // loading process starts
            btnWaitMe_Start('btnUpdateProfileEducations'); // Loading Button Start
            var postData = { 'info': data, }
            $.ajax({
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                type: 'POST',
                data: postData,
                url: 'ProfileEducation',
                success: function (data) {
                    if (data.isSuccess) {
                        Swal.fire({
                            position: "center",
                            icon: "success",
                            title: "Information has been saved",
                            showConfirmButton: false,
                            timer: 1000
                        });
                        btnWaitMe_Stop('btnUpdateProfileEducations'); // Loading Button Stops
                        pageWaitMeRemove(); // loading process stops
                    }
                    else {
                        Swal.fire({
                            position: "center",
                            icon: "error",
                            title: data.message,
                            showConfirmButton: false,
                            timer: 3000
                        });
                        btnWaitMe_Stop('btnUpdateProfileEducations'); // Loading Button Stops
                        pageWaitMeRemove(); // loading process stops
                    }
                },
                error: function (req, status, err) {
                    Swal.fire({
                        position: "center",
                        icon: "error",
                        title: "Something went wrong, please try it again or later!",
                        showConfirmButton: false,
                        timer: 3000
                    });
                }
            });
        }
    </script>

    @*Add Runtime Controls*@
    <script type="text/javascript">

        $(document).ready(function () {
            $("body").on("click", ".add_new_frm_field_btn", function () {
                console.log("clicked");
                var index = $(".form_field_outer").find(".form_field_outer_row").length + 1;

                $(".form_field_outer").append(`

                                                                       <div class="row form_field_outer_row" id="educational_form_`+ index.toString() + `">

                                                                        <fieldset>
                                                                            <legend>Educational Case [`+ index.toString() + `]</legend>

                                                                            <div class="input-group mb-3">
                                                                                <span class="input-group-text">Name</span>
                                                                                <input type="text"
                                                                                        class="form-control"
                                                                                                id="txtSchoolName_`+ index.toString() + `"
                                                                                        placeholder="School, Instituion, College, University Name">
                                                                            </div>

                                                                            <div class="input-group mb-3">
                                                                                <span class="input-group-text">Field of Study</span>
                                                                                <input type="text"
                                                                                        class="form-control"
                                                                                        id="txtField_`+ index.toString() + `"
                                                                                        placeholder="Directing, Software engineering, ...">
                                                                            </div>

                                                                                                                <div style="display:flex;">
                                                                                <div>
                                                                                    <label class="input-group-text" style="border-radius:5px 0px 0px 5px;"
                                                                                            for="inputGroupSelect01">From</label>
                                                                                </div>
                                                                                <div>
                                                                                    <input readonly
                                                                                            placeholder="Starting date of Eduction"
                                                                                            style="border-radius:0px;border-left:0;" width="300"
                                                                                                    id="datepickerFrom_`+ index.toString() + `">
                                                                                </div>
                                                                            </div>

                                                                            <div style="display:flex;">
                                                                                <div>
                                                                                    <label class="input-group-text" style="border-radius:5px 0px 0px 5px;"
                                                                                            for="inputGroupSelect01">To</label>
                                                                                </div>
                                                                                <div>
                                                                                    <input readonly
                                                                                            placeholder="Ending date of Eduction"
                                                                                            style="border-radius:0px;border-left:0;" width="300"
                                                                                                    id="datepickerTo_`+ index.toString() + `">
                                                                                </div>
                                                                            </div>

                                                                            <div class="form-group col-md-2 add_del_btn_outer">
                                                                                <button class="btn_round remove_node_btn_frm_field" disabled>
                                                                                    <i class="fas fa-trash-alt"></i>
                                                                                </button>
                                                                            </div>
                                                                        </fieldset>

                                                                    </div>

                                                                      `);

                $('#datepickerFrom_' + index.toString()).datepicker({
                    uiLibrary: 'bootstrap5'
                });
                $('#datepickerTo_' + index.toString()).datepicker({
                    uiLibrary: 'bootstrap5'
                });

                $(".form_field_outer").find(".remove_node_btn_frm_field:not(:first)").prop("disabled", false);
                $(".form_field_outer").find(".remove_node_btn_frm_field").first().prop("disabled", true);
            });
        });

        ///======Clone method
        $(document).ready(function () {
            $("body").on("click", ".add_node_btn_frm_field", function (e) {
                var index = $(e.target).closest(".form_field_outer").find(".form_field_outer_row").length + 1;
                var cloned_el = $(e.target).closest(".form_field_outer_row").clone(true);
                $(e.target).closest(".form_field_outer").last().append(cloned_el).find(".remove_node_btn_frm_field:not(:first)").prop("disabled", false);
                $(e.target).closest(".form_field_outer").find(".remove_node_btn_frm_field").first().prop("disabled", true);
                //change id
                $(e.target).closest(".form_field_outer").find(".form_field_outer_row").last().find("input[type='text']").attr("id", "mobileb_no_" + index);
                $(e.target).closest(".form_field_outer").find(".form_field_outer_row").last().find("select").attr("id", "no_type_" + index);
            });
        });

        $(document).ready(function () {
            //===== delete the form fieed row
            $("body").on("click", ".remove_node_btn_frm_field", function () {
                $(this).closest(".form_field_outer_row").remove();
                console.log("success");
            });
        });

    </script>

}